:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    text-align: center;
    margin: 0;
    display: flex;
    place-items: top;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    align-self: center;
}

p{
    font-weight: 1;
}

.spinner{
    display: inline-block;
    height: 2em;
    width: 2em;
    border: 10px solid;
    border-top-color: #4d2aff;
    border-radius: 50%;
}

@keyframes logo-spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}

@media (prefers-reduced-motion: no-preference) {
a:nth-of-type(2) .spinner {
    animation: logo-spin infinite linear 20s;
}
}